<h1>Hello Guys!</h1>
<p *ngIf="!users"><em>Loading...</em></p>
<p *ngFor="let user of users">{{ user.id }}</p>
<!-- <table mat-table [dataSource]="users" class="table-striped mat-elevation-z8" [hidden]="!users">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matCellDef>ID</th>
    <td mat-cell *matCellDef="let user">{{ user.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matCellDef>Name</th>
    <td mat-cell *matCellDef="let user">user.name</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns"></tr>
</table> -->